// root
:root {
  --clr-primary: #252525;
  --clr-secondary: #fff;
}

// reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
}

// general
body {
  display: grid;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  margin: 0;
  padding: 1em;

  background-color: var(--clr-secondary);
}

.box {
  width: 3.6em;
  padding: 0.125em 0.25em;

  font-family: arial;
  font-size: 5em;

  text-transform: uppercase;

  border: 3px solid var(--clr-primary);
}
